<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <style type="text/css">
            .short-screenshot {
                height: 200px;
                width: 200px;
            }
            #diffs {
                position: fixed;
                z-index: 1;
                margin-left: 33%;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row page-header">
                <h1>Kontrast Gallery</h1>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <div class="panel">
                        <div class="panel-heading">Screenshots:</div>
                        <ul class="list-group list-group-flush">
                            <% groups.sort.each do |group| %>
                                <li class="list-group-item"><strong><%=group%></strong></li>
                                <% without_diffs[group].keys.each do |name| %>
                                    <li class="list-group-item"><a href="#<%= "#{group}_#{name}" %>-nondiff"><%=name%></a></li>
                                <% end %>
                            <% end %>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-10">
                    <% if diffs.any? %>
                        <div class="row">
                            <div id="diffs" class="alert alert-warning" role="alert">
                                Tests with diffs:
                                <ul>
                                    <% diffs.each do |test, diff| %>
                                        <li>
                                            <a href="#<%= test %>-diff"><%= test %></a>
                                        </li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    <% end %>

                    <h1>Diffs</h1>
                    <% with_diffs.keys.sort.each do |group| %>
                        <div class="row">
                            <a name="<%= group %>"></a>
                            <h2><%= group %></h2>
                        </div>

                        <% with_diffs[group].each do |test_name, variants| %>
                            <div id="<%= "#{group}_#{test_name}" %>-diff" class="row">
                                <div class="row">
                                    <h2><%= test_name %></h2>

                                    <% if variants.first[:type] == 'page' %>
                                        <% variants.each do |variant| %>
                                            <div class="col-lg-3">
                                                <a href="<%=variant[:image]%>">
                                                    <img class="short-screenshot img-thumbnail" src="<%=variant[:thumb]%>">
                                                </a>
                                                <p class="text-center"><%=variant[:domain]%></p>
                                                <% if variant[:diff_amt] %>
                                                    <p class="text-center text-muted"><%=variant[:diff_amt]%></p>
                                                <% end %>
                                            </div>
                                        <% end %>
                                    <% elsif variants.first[:type] == 'api_endpoint' %>
                                        <% variants.each do |variant| %>
                                            <div class="col-lg-3">
                                                <% if variant[:domain] == 'diff' %>
                                                    <a>
                                                        <img class="short-screenshot img-thumbnail" src="http://dummyimage.com/200x200/?text=N/A">
                                                    </a>
                                                <% else %>
                                                    <a href="<%=variant[:file]%>">
                                                        <img class="short-screenshot img-thumbnail" src="http://dummyimage.com/200x200/?text=JSON">
                                                    </a>
                                                <% end %>
                                                <p class="text-center"><%=variant[:domain]%></p>
                                            </div>
                                          <% end %>
                                    <% end %>
                                </div>
                                <% if variants.first[:type] == 'api_endpoint' && variants.first[:images].any? %>
                                    <h3>Images</h3>
                                    <% div_id = ["images", test_name, SecureRandom.hex(6)].join('-') %>
                                    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#<%= div_id %>">
                                        Expand / Collapse
                                    </a>
                                    <div class="collapse" id="<%= div_id %>">
                                        <% variants.first[:images].each_with_index do |image, i| %>
                                            <div class="row">
                                                <% second_image = variants[1][:images][i] %>
                                                <% diff_image = variants[-1][:images][i] %>
                                                <div class="col-lg-3">
                                                    <a href="<%= image[:image] %>">
                                                        <img class="short-screenshot img-thumbnail" src="<%=image[:thumb]%>">
                                                    </a>
                                                </div>
                                                <div class="col-lg-3">
                                                    <a href="<%=second_image[:image]%>">
                                                        <img class="short-screenshot img-thumbnail" src="<%=second_image[:thumb]%>">
                                                    </a>
                                                </div>
                                                <div class="col-lg-3">
                                                    <a href="<%=diff_image[:image]%>">
                                                        <img class="short-screenshot img-thumbnail" src="<%=diff_image[:thumb]%>">
                                                    </a>
                                                </div>
                                            </div>
                                        <% end %>
                                    </div>
                                <% end %>
                            </div>
                        <% end %>
                    <% end %>

                    <h1>Non-diffs</h1>
                    <% without_diffs.keys.sort.each do |group| %>
                        <div class="row">
                            <a name="<%= group %>"></a>
                            <h2><%= group %></h2>
                        </div>

                        <% without_diffs[group].each do |test_name, variants| %>
                            <div id="<%= "#{group}_#{test_name}" %>-nondiff" class="row">
                                <div class="row">
                                    <h2><%= test_name %></h2>

                                    <% if variants.first[:type] == 'page' %>
                                        <% variants.each do |variant| %>
                                            <div class="col-lg-3">
                                                <a href="<%=variant[:image]%>">
                                                    <img class="short-screenshot img-thumbnail" src="<%=variant[:thumb]%>">
                                                </a>
                                                <p class="text-center"><%=variant[:domain]%></p>
                                                <% if variant[:diff_amt] %>
                                                    <p class="text-center text-muted"><%=variant[:diff_amt]%></p>
                                                <% end %>
                                            </div>
                                        <% end %>
                                    <% elsif variants.first[:type] == 'api_endpoint' %>
                                        <% variants.each do |variant| %>
                                            <div class="col-lg-3">
                                                <% if variant[:domain] == 'diff' %>
                                                    <a href="<%=variant[:file]%>">
                                                        <img class="short-screenshot img-thumbnail" src="http://dummyimage.com/200x200/?text=N/A">
                                                    </a>
                                                <% else %>
                                                    <a href="<%=variant[:file]%>">
                                                        <img class="short-screenshot img-thumbnail" src="http://dummyimage.com/200x200/?text=JSON">
                                                    </a>
                                                <% end %>
                                                <p class="text-center"><%=variant[:domain]%></p>
                                            </div>
                                          <% end %>
                                    <% end %>
                                </div>

                                <% if variants.first[:type] == 'api_endpoint' && variants.first[:images].any? %>
                                    <% div_id = ["images", test_name, SecureRandom.hex(6)].join('-') %>
                                    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#<%= div_id %>">
                                        Expand / Collapse
                                    </a>
                                    <div class="collapse" id="<%= div_id %>">
                                        <% variants.first[:images].each_with_index do |image, i| %>
                                            <div class="row">
                                                <% second_image = variants[1][:images][i] %>
                                                <% diff_image = variants[-1][:images][i] %>
                                                <div class="col-lg-3">
                                                    <a href="<%= image[:image] %>">
                                                        <img class="short-screenshot img-thumbnail" src="<%=image[:thumb]%>">
                                                    </a>
                                                </div>
                                                <div class="col-lg-3">
                                                    <a href="<%=second_image[:image]%>">
                                                        <img class="short-screenshot img-thumbnail" src="<%=second_image[:thumb]%>">
                                                    </a>
                                                </div>
                                                <div class="col-lg-3">
                                                    <a href="<%=diff_image[:image]%>">
                                                        <img class="short-screenshot img-thumbnail" src="<%=diff_image[:thumb]%>">
                                                    </a>
                                                </div>
                                            </div>
                                        <% end %>
                                    </div>
                                <% end %>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </body>
</html>
