<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <style type="text/css">
            .short-screenshot {
                height: 200px;
                width: 200px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row page-header">
                <h1>Kontrast Gallery</h1>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <div class="panel">
                        <div class="panel-heading">Screenshots:</div>
                        <ul class="list-group list-group-flush">
                            <% directories.keys.sort.each do |size| %>
                                <li class="list-group-item"><strong><%=size%></strong></li>
                                <% directories[size].keys.each do |name| %>
                                    <li class="list-group-item"><a href="#<%= "#{size}_#{name}" %>"><%=name%></a></li>
                                <% end %>
                            <% end %>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-10">
                    <% if diffs.any? %>
                        <div class="row">
                            <div class="alert alert-warning" role="alert">
                                Tests with diffs:
                                <ul>
                                    <% diffs.each do |test, diff| %>
                                        <li>
                                            <a href="#<%= test %>"><%= test %></a>
                                        </li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    <% end %>

                    <% directories.keys.sort.each do |size| %>
                        <div class="row">
                            <a name="<%= size %>"></a>
                            <h2><%= size %></h2>
                        </div>

                        <% directories[size].each do |comparison| %>
                            <div id="<%= "#{size}_#{comparison.first}" %>" class="row">
                                <div class="row">
                                    <h2><%= comparison.first %></h2>
                                </div>
                                <% comparison.last[:variants].each do |file| %>
                                    <div class="col-lg-3">
                                        <a href="<%=file[:image]%>">
                                            <img class="short-screenshot img-thumbnail" src="<%=file[:thumb]%>">
                                        </a>
                                        <p class="text-center"><%=file[:domain]%></p>
                                        <% if file[:diff_amt] %>
                                            <p class="text-center text-muted"><%=file[:diff_amt]%></p>
                                        <% end %>
                                    </div>
                                <% end %>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </body>
</html>